:root {
    --color-text: #070F36;
    --color-light-blue: #6E90E6;
    --color-bg-light-blue: #F0F4FC;
    --color-border: #CBD3E4;
    --color-white: #FFFFFF;
    --box-shadow: 7px 8px 30px 6px rgba(0, 0, 0, 0.05);
    --border-radius: 20px;
}